body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

a, p, h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web", sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a {
    line-height: 1em;
}

 *{
  box-sizing: border-box;
}

.profile-image {
    margin-bottom: 22px;
    min-height: 70px;
}

.profile-image .profile-image-data {
    float: left;
    padding-left: 80px;
    position: relative;
}

.profile-image .button {
    float: left;
    width: 120px;
    margin: 18px 0 0 80px;
}
.form-box-item .button {
    width: 100%;
}
.button.mid-short {
    width: 160px;
}
.button.dark-light {
    background-color: #535d5f;
}

.button {
    display: block;
    width: 120px;
    height: 30px;
    border-radius: 4px;
    color: #fff;
    font-family: "Titillium Web", sans-serif;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.form-box-item h4 {
    margin-bottom: 22px;
}

.profile-image .profile-image-data .user-avatar {
    position: absolute;
    top: 0;
    left: 0;
}
.user-avatar.medium img {
    width: 70px;
    height: 70px;
}
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

figure {
    line-height: 0;
}

.dashboard-content {
    padding: 30px 0 90px;
}
header, .menu-bar, .banner, #services, #product-sideshow, #subscribe-banner, #footer-top, #footer-bottom, .category-nav, .section-headline, .section, .sidebar-nav, .author-profile-meta, .dashboard-content {
    max-width: 1170px;
    width: 95%;
    margin: 0 auto;
}

form {
    display: block;
    margin-top: 0em;
}

.dashboard-header {
    max-height: 70px;
    padding-left: 0;
}

.dashboard-header {
    width: 100%;
    padding-left: 270px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    transition: all .5s ease;
}

.dashboard-body {
    padding: 70px 0 0 270px;
    position: relative;
}

.dashboard-content .form-box-items .form-box-item {
    width: 48.7%;
}


.dashboard-content .form-box-items .form-box-item {
    float: none;
    width: 100%;
}

.form-box-items {
    overflow: hidden;
}

.form-box-items .form-box-item {
    width: 570px;
}

/*.form-box-items .form-box-item:nth-child(odd) {
    float: left;
    clear: both;
}
*/
.form-box-item {
    padding: 22px 24px 26px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    position: relative;
    margin-bottom: 26px;
}

.profile-image {
    margin-bottom: 22px;
    min-height: 70px;
}

.form-box-item .line-separator {
    margin-bottom: 22px;
}

.line-separator {
    background-color: #ebebeb;
    height: 1px;
    border: none;
}

.form-box-item .input-container {
    clear: both;
    margin-bottom: 22px;
}

label.rl-label {
    margin-bottom: 14px;
    font-size: 0.875em;
    line-height: 1em;
    cursor: auto;
}
label.b-label, label.rl-label {
    color: #2b373a;
    font-weight: 700;
}
label {
    display: block;
    margin-bottom: 12px;
    color: #888;
    font-size: 0.8125em;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #ebebeb;
    line-height: 40px;
    border-radius: 4px;
}
input {
    display: block;
}
input, textarea {
    color: #888;
    font-family: "Titillium Web", sans-serif;
    font-size: 0.8125em;
    border-radius: 4px;
}

.left-border {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  border-left: 6px solid #fed136;
  color: #000;
  padding: 8px 16px;
  background-color: #fff;
}


.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 515;
  color: black !important;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
  color: black;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.border-user{
  border-style: solid;
  border: 1px solid #fed136;
  border-radius: 16px;
  height: 60px;
  width: 150px;
  background-color: none;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}


#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', sans-serif;
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script',  sans-serif;
  font-size: 3.5em;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: medium;
  font-weight: bold;
  margin: 0.75em 0;
  letter-spacing: 2px;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
  opacity: 1;
}

#mainNav .navbar-nav .nav-item .dropdown-submenu {
 position: relative;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ececec;
  background-color: #6b6f73;
}
.dropdown-item {
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
}


#mainNav .navbar-nav .nav-item .dropdown-submenu .dropdown-menu 
{
 top: 0;
 left: 100%;
 margin-top: -1px;
}
.non-drop .nav-link {
  display: inline-block;
  position: relative;
}
.non-drop .nav-link:hover {
  opacity: 1;
}

.non-drop .nav-link::before {
  transition: all 0.3s ease-in-out;
  transition-duration: 0.5s;
  height: 2.5px;
  margin: 5px 0 0;
  content: "";
  position: absolute;
  background-color: #fed136;
}
.non-drop .nav-link::after {
  transition: all 0.3s ease-in-out;
  transition-duration: 0.5s;
  height: 2.5px;
  margin: 5px 0 0;
  content: "";
  position: absolute;
  background-color: #fed136;
}


.test::before {
  width: 0%;
  bottom: 10px;
  left:50%;
}
.test::after {
  width: 0%;
  bottom: 10px;
  right:50%;
}

.test:hover::before {
  width: 38%;
} 
.test:hover::after {
  width: 38%;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 0px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 2.25em;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

header.masthead {
  text-align: center;
  color: white;
  background-color:#3b3b39;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .search-bar{
  padding-top: 90px;
  padding-bottom:25px;
}

header.masthead .search-bar input, button{
  padding: 15px 10px; 
}

header.masthead .search-bar .dropdown{
  border-radius: 15px 0 0px 15px;
  background-color: #918f89;
}

header.masthead .search-bar .dropdown a{
  color: black;
}

header.masthead .intro-text {
  padding-top: 60px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Montserrat',  sans-serif;
}

header.masthead .intro-text a {
    color: black !important;
}
header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat',  sans-serif;
}

@media (min-width: 768px) {
  header.masthead .search-bar {
  padding-top: 180px;
  padding-bottom: 50px;
  }
  header.masthead .search-bar input, button{
  padding: 22px 10px; 
  }
  header.masthead .intro-text {
    padding-top: 120px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Montserrat',  sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat',  sans-serif;
  }
}

#list .section-subheading {
  margin-bottom: 35px;
}

#list #list-nav {
  margin-bottom: 15px;
}
#list .active {
  color: #33383c !important;
  text-decoration: underline;
}
#list .list-item {
  right: 0;
  margin: 0 0 15px;
}

#list .list-item .img-fluid{
  object-fit: cover;
  height:225px !important;
  width:350px !important;
}

#list .list-item .list-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#list .list-item .list-link .list-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

#list .list-item .list-link .list-hover:hover {
  opacity: 1;
}

#list .list-item .list-link .list-hover .list-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#list .list-item .list-link .list-hover .list-hover-content i {
  margin-top: -12px;
}

#list .list-item .list-link .list-hover .list-hover-content h3,
#list .list-item .list-link .list-hover .list-hover-content h4 {
  margin: 0;
}

#list .list-item .list-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#list .list-item .list-caption h4 {
  margin: 0;
  text-transform: none;
}

#list .list-item .list-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', sans-serif;
}

.list-caption span {
  float: left;
}


#list * {
  z-index: 2;
}

@media (min-width: 767px) {
  #list .list-item {
    margin: 0 0 30px;
  }
}

.list-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.list-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.list-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.list-modal .modal-content p {
  margin-bottom: 30px;
}

.list-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', sans-serif;
}

.list-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.list-modal .modal-content img {
  margin-bottom: 30px;
}

.list-modal .modal-content button {
  cursor: pointer;
}

.list-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.list-modal .close-modal:hover {
  opacity: 0.3;
}

.list-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  transform: rotate(45deg);
  background-color: #212529;
}

.list-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  transform: rotate(90deg);
  background-color: #212529;
}
.footer {
  padding: 25px 0;
  text-align: center;
}

.footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
}

.footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}
