body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3{
   font-family: "Titillium Web", sans-serif;
}
h4{
  font-family: Franklin Gothic Medium, sans-serif;
}
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.left-border {
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  border-left: 6px solid #fed136;
  color: #000;
  padding: 5px 16px;
  background-color: #fff;
}

.a-price{
  font-size: 10px;
  font-family: Impact, Charcoal, sans-serif;
}

.a-currentbid{
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 60%;
  margin-top: 10px;
  padding-bottom: 0px;
  margin-left: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row-rate:after {
  content: "";
  display: table;
  clear: both;
}


.row-rate{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: 10px;
}

/* The bar container */
.bar-container {
  width: 90%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-up {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-down {width: 30%; height: 18px; background-color: #2196F3;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}

.border-user{
  border-style: solid;
  border: 1px solid #fed136;
  border-radius: 16px;
  height: 60px;
  width: 150px;
  background-color: none;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  width: 25%;
}

.topnav a:hover {
  border-bottom: 3px solid #fed136;
}

.topnav a.active {
  border-bottom: 3px solid #fed136;
}


/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/*profile card*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.card p button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card p button:hover, a:hover {
  opacity: 0.7;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


/* Position the image container (needed to position the left and right arrows) */
.slideshow-container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.columnslide {
  float: left;
  width: 20.00%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*table style*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.product-title {
    font-size: 30px ;
    font-weight: bold ;
    display: block ;
}
.product-price {
    font-size: 30px ;
    font-weight: bold ;
    display: block ;
}

.content{
   text-align: justify;
   font-family: 'Montserrat', sans-serif;
}

.btn-contact {
  background-color: #000;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.btn-buynow{
  text-align: center;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", sans-serif;
  display: inline-block;
  font-size: 20px;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 20px;
 /* background-color: white;*/
  color: black;
  border: 2px solid #fed136;
}

.btn-bid {
  background-color: #fff; 
  border: 2px solid #fed136; 
  color: black; 
  padding: 6px 10px; 
  font-size: 12px; 
  margin: 10px;
  cursor: pointer; 
  border-radius: 50%;
}

.btn-bid a {
   color: black; 
}

.a-price{
  font-size: 15px;
  font-family: Impact, Charcoal, sans-serif;
}

.a-currentbid{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.page-section {
  padding: 30px 0;
}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 515;
  color: black !important;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
  color: black;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', sans-serif;
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script',  sans-serif;
  font-size: 3.5em;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: medium;
  font-weight: bold;
  margin: 0.75em 0;
  letter-spacing: 2px;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
  opacity: 1;
}

#mainNav .navbar-nav .nav-item .dropdown-submenu {
 position: relative;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ececec;
  background-color: #6b6f73;
}
.dropdown-item {
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
}


#mainNav .navbar-nav .nav-item .dropdown-submenu .dropdown-menu 
{
 top: 0;
 left: 100%;
 margin-top: -1px;
}
.non-drop .nav-link {
  display: inline-block;
  position: relative;
}
.non-drop .nav-link:hover {
  opacity: 1;
}

.non-drop .nav-link::before {
  transition: all 0.3s ease-in-out;
  transition-duration: 0.5s;
  height: 2.5px;
  margin: 5px 0 0;
  content: "";
  position: absolute;
  background-color: #fed136;
}
.non-drop .nav-link::after {
  transition: all 0.3s ease-in-out;
  transition-duration: 0.5s;
  height: 2.5px;
  margin: 5px 0 0;
  content: "";
  position: absolute;
  background-color: #fed136;
}


.test::before {
  width: 0%;
  bottom: 10px;
  left:50%;
}
.test::after {
  width: 0%;
  bottom: 10px;
  right:50%;
}

.test:hover::before {
  width: 38%;
} 
.test:hover::after {
  width: 38%;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 0px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 2.25em;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

header.masthead {
  text-align: center;
  color: white;
  background-color:#3b3b39;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .search-bar{
  padding-top: 90px;
  padding-bottom:25px;
}

header.masthead .search-bar input, button{
  padding: 15px 10px; 
}

header.masthead .search-bar .dropdown{
  border-radius: 15px 0 0px 15px;
  background-color: #918f89;
}

header.masthead .search-bar .dropdown a{
  color: black;
}

header.masthead .intro-text {
  padding-top: 60px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Montserrat',  sans-serif;
}

header.masthead .intro-text a {
    color: black !important;
}
header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat',  sans-serif;
}

@media (min-width: 768px) {
  header.masthead .search-bar {
  padding-top: 180px;
  padding-bottom: 50px;
  }
  header.masthead .search-bar input, button{
  padding: 22px 10px; 
  }
  header.masthead .intro-text {
    padding-top: 120px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Montserrat',  sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat',  sans-serif;
  }
}

#list .section-subheading {
  margin-bottom: 35px;
}

#list #list-nav {
  margin-bottom: 15px;
}
#list .active {
  color: #33383c !important;
  text-decoration: underline;
}
#list .list-item {
  right: 0;
  margin: 0 0 15px;
}

#list .list-item .img-fluid{
  object-fit: cover;
  height:225px !important;
  width:350px !important;
}

#list .list-item .list-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#list .list-item .list-link .list-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

#list .list-item .list-link .list-hover:hover {
  opacity: 1;
}

#list .list-item .list-link .list-hover .list-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#list .list-item .list-link .list-hover .list-hover-content i {
  margin-top: -12px;
}

#list .list-item .list-link .list-hover .list-hover-content h3,
#list .list-item .list-link .list-hover .list-hover-content h4 {
  margin: 0;
}

#list .list-item .list-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#list .list-item .list-caption h4 {
  margin: 0;
  text-transform: none;
}

#list .list-item .list-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', sans-serif;
}

.list-caption span {
  float: left;
}


#list * {
  z-index: 2;
}

@media (min-width: 767px) {
  #list .list-item {
    margin: 0 0 30px;
  }
}

.list-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.list-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.list-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.list-modal .modal-content p {
  margin-bottom: 30px;
}

.list-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', sans-serif;
}

.list-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.list-modal .modal-content img {
  margin-bottom: 30px;
}

.list-modal .modal-content button {
  cursor: pointer;
}

.list-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.list-modal .close-modal:hover {
  opacity: 0.3;
}

.list-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  transform: rotate(45deg);
  background-color: #212529;
}

.list-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  transform: rotate(90deg);
  background-color: #212529;
}
.footer {
  padding: 25px 0;
  text-align: center;
}

.footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
}

.footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}
