body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
    line-height: 1.75;
}

a {
    color: #fed136;
}

a:hover {
    color: #fec503;
}

.text-primary {
    color: #fed136 !important;
}

h1 {
    font-size: 50px;
    font-family: "Franklin Gothic Medium", sans-serif;
}

h2 {
    font-family: "Franklin Gothic Medium", sans-serif;
}

h3,
h4 {
    font-family: Franklin Gothic Medium, sans-serif;
}

h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}


/* Style the list */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}


/* Display list items side by side */

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}


/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


/* Add a color to all links inside the list */

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}


/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* Position the image container (needed to position the left and right arrows) */

.slideshow-container {
    position: relative;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Add a pointer when hovering over the thumbnail images */

.cursor {
    cursor: pointer;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Container for image text */

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Six columns side by side */

.columnslide {
    float: left;
    width: 20.00%;
}


/* Add a transparency effect for thumnbail images */

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


/*table style*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Style the tab */

.tab {
    margin-top: 70px;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #000;
}

.tablink {
    background-color: #000;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
}


/* Change background color of buttons on hover */

.tablink:hover {
    background-color: #fed136;
    color: black;
}


/* Set default styles for tab content */

.tabcontent {
    color: black;
    display: none;
    padding: 50px;
    text-align: center;
}

.product-title {
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.product-price {
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.content {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.btn-buynow {
    text-align: center;
    text-decoration: none;
    font-family: "Franklin Gothic Medium", sans-serif;
    display: inline-block;
    font-size: 20px;
    padding: 5px 5px;
    margin: 10px;
    border-radius: 20px;
    /* background-color: white;*/
    color: black;
    border: 2px solid #fed136;
}

.btn-bid {
    background-color: #fff;
    border: 2px solid #fed136;
    color: black;
    padding: 6px 10px;
    font-size: 12px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.btn-bid a {
    color: black;
}

.a-price {
    font-size: 15px;
    font-family: Impact, Charcoal, sans-serif;
}

.a-currentbid {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.page-section {
    padding: 30px 0;
}

.page-section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

.page-section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', sans-serif;
}

@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}

::-moz-selection {
    background: #fed136;
    text-shadow: none;
}

::selection {
    background: #fed136;
    text-shadow: none;
}

img::-moz-selection {
    background: transparent;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 515;
    color: black !important;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn-primary {
    background-color: #fed136;
    border-color: #fed136;
    color: black;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
}

.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

#mainNav {
    background-color: #212529;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', sans-serif;
}

#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 3.5em;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: medium;
    font-weight: bold;
    margin: 0.75em 0;
    letter-spacing: 2px;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
    opacity: 1;
}

#mainNav .navbar-nav .nav-item .dropdown-submenu {
    position: relative;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #ececec;
    background-color: #6b6f73;
}

.dropdown-item {
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
}

#mainNav .navbar-nav .nav-item .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.non-drop .nav-link {
    display: inline-block;
    position: relative;
}

.non-drop .nav-link:hover {
    opacity: 1;
}

.non-drop .nav-link::before {
    transition: all 0.3s ease-in-out;
    transition-duration: 0.5s;
    height: 2.5px;
    margin: 5px 0 0;
    content: "";
    position: absolute;
    background-color: #fed136;
}

.non-drop .nav-link::after {
    transition: all 0.3s ease-in-out;
    transition-duration: 0.5s;
    height: 2.5px;
    margin: 5px 0 0;
    content: "";
    position: absolute;
    background-color: #fed136;
}

.test::before {
    width: 0%;
    bottom: 10px;
    left: 50%;
}

.test::after {
    width: 0%;
    bottom: 10px;
    right: 50%;
}

.test:hover::before {
    width: 38%;
}

.test:hover::after {
    width: 38%;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 0px;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        font-size: 2.25em;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
}

header.masthead {
    text-align: center;
    color: white;
    background-color: #3b3b39;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead .search-bar {
    padding-top: 90px;
}

header.masthead .search-bar input,
button {
    padding: 15px 10px;
}

header.masthead .search-bar .dropdown {
    border-radius: 15px 0 0px 15px;
    background-color: #918f89;
}

header.masthead .search-bar .dropdown a {
    color: black;
}

header.masthead .intro-text {
    padding-top: 60px;
    padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
}

header.masthead .intro-text a {
    color: black !important;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {
    header.masthead .search-bar {
        padding-top: 180px;
    }
    header.masthead .search-bar input,
    button {
        padding: 22px 10px;
    }
    header.masthead .intro-text {
        padding-top: 120px;
        padding-bottom: 200px;
    }
    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Montserrat', sans-serif;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', sans-serif;
    }
}

#sign-up {
    background-color: #f7d14d;
    position: relative;
    border-radius: 25px;
    padding: 20px 10px;
    text-align: center;
}

#sign-up .sign-heading {
    color: #fff;
}

#sign-up .text-muted {
    padding-bottom: 25px;
}

#sign-up .form-group {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#sign-up .form-group input,
#sign-up .form-group textarea {
    padding: 20px;
}

#sign-up .form-group input.form-control {
    height: auto;
    border-radius: 15px;
}

#sign-up .form-group textarea.form-control {
    height: 248px;
}

#sign-up .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

#sign-up ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', sans-serif;
}

#sign-up :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', sans-serif;
}

#sign-up ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', sans-serif;
}

#sign-up :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', sans-serif;
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#related-products .section-subheading {
    margin-bottom: 35px;
}

#related-products #list-nav {
    margin-bottom: 15px;
}

#related-products .active {
    color: #33383c !important;
    text-decoration: underline;
}

#related-products .list-item {
    right: 0;
    margin: 0 0 15px;
}

#related-products .list-item .list-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#related-products .list-item .list-link .img-fluid {
    width: 350px;
    height: 225px;
    object-fit: cover;
}

#related-products .list-item .list-link .list-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(254, 209, 54, 0.9);
}

#related-products .list-item .list-link .list-hover:hover {
    opacity: 1;
}

#related-products .list-item .list-link .list-hover .list-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

#related-products .list-item .list-link .list-hover .list-hover-content i {
    margin-top: -12px;
}

#related-products .list-item .list-link .list-hover .list-hover-content h3,
#related-products .list-item .list-link .list-hover .list-hover-content h4 {
    margin: 0;
}

#related-products .list-item .list-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

#related-products.list-item .list-caption h4 {
    margin: 0;
    text-transform: none;
}

#related-products .list-item .list-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', sans-serif;
}

#related-products * {
    z-index: 2;
}

@media (min-width: 767px) {
    #list .list-item {
        margin: 0 0 30px;
    }
}

.list-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

.list-modal .modal-content {
    padding: 100px 0;
    text-align: center;
}

.list-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

.list-modal .modal-content p {
    margin-bottom: 30px;
}

.list-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', sans-serif;
}

.list-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.list-modal .modal-content img {
    margin-bottom: 30px;
}

.list-modal .modal-content button {
    cursor: pointer;
}

.list-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.list-modal .close-modal:hover {
    opacity: 0.3;
}

.list-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    transform: rotate(45deg);
    background-color: #212529;
}

.list-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    transform: rotate(90deg);
    background-color: #212529;
}

#pdf {
    border-radius: 15px;
    background-color: #fed136;
    color: black !important;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 15px 20px;
}

.footer {
    padding: 25px 0;
    text-align: center;
}

.footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
}

.footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #fed136;
}