<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Hello Auction</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">CATEGORIES</a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a class="dropdown-item" href="/index">All</a></li>
                                <li class="dropdown-submenu">
                                    <a class="drop dropdown-item" href="#"> Electronice device &nbsp;&nbsp;<i class="fas fa-chevron-right"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/index"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Smartphone</a></li>
                                        <li><a class="dropdown-item" href="/laptop-list"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Laptop</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="/index">Household appliance</a></li>
                                <li><a class="dropdown-item" href="/index">Beauty</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
              CHARTS
            </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/index#list">Hottest</a>
                            <a class="dropdown-item" href="/index#list">Best price</a>
                            <a class="dropdown-item" href="/index#list">Almost end</a>
                            <a class="dropdown-item" href="/index#list">Highest price</a>
                        </div>
                    </li>
                    <li class="nav-item non-drop">
                        <a class="nav-link test js-scroll-trigger" href="/index#faq">FAQ</a>
                    </li>
                    <li class="nav-item non-drop">
                        <a class="nav-link test js-scroll-trigger" href="/index#services">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary btn-lg nav-link"><a href ="/login" style ="color:black">Login now!</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>