<form method="POST" action="/search/1?filter=<%= filter %>&">
            <div class="input-group search-bar text-center">
                <div class="input-group-prepend dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                        <i class="fas fa-filter"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="?search=name">Search by name</a>
                        <a class="dropdown-item" href="?search=category">Search by category</a>
                    </div>
                </div>                
                <input type="text" class="form-control" placeholder="Search your goods" name="input" size = "80">
                <div class="input-group-append">
                <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
            </form>