<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Fontastic Custom icon font-->
    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../css/admin.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../img/favicon.ico">
  </head>
  <body>
    <div class="page">
      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="../img/ava.jpg" alt="avatar" class="img-fluid"></div>
            <div class="title">
              <h4>Hi, Hoàng</h4>
              <p>Administrator</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus-->
          <span class="heading">Main</span>
          <ul class="list-unstyled">
            <li class="active"><a href="admin.html"><i class="fas fa-home"></i> Home </a></li>
            <li><a href="index.html"><i class="fas fa-home"></i>Profile</a></li>
            <li><a href="../login.html"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout </a></li>
          </ul>
          <span class="heading">Manage</span>
          <ul class="list-unstyled">
            <li><a href="admin-category.html"><i class="fas fa-list"></i>&nbsp;Manage Category</a></li>
            <li><a href="admin-product.html"><i class="fas fa-box"></i>&nbsp;Manage Product</a></li>
            <li><a href="#user" aria-expanded="false" data-toggle="collapse"><i class="fas fa-users"></i>Manage User</a>
              <ul id="user" class="collapse list-unstyled ">
                <li><a href="view-users.html">View all users</a></li>
                <li><a href="view-request.html">Manage seller request</a></li>
                <li><a href="admin-seller.html">Manage seller</a></li>
              </ul>
            </li>
          </ul><span class="heading">Overview</span>
          <ul class="list-unstyled">
            <li> <a href="add-manager.html"><i class="fas fa-user-plus"></i>Add manager</a></li>
            <li> <a href="#"><i class="fas fa-envelope"></i>Announcement</a></li>
            <li> <a href="#"><i class="fas fa-envelope"></i>Demo </a></li>
            <li> <a href="#"><i class="fas fa-envelope"></i>Demo </a></li>
          </ul>
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Dashboard</h2>
            </div>
          </header>
          <div class="text-center">
          <h1 style="color: black">Manage your website</h1>
        </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Hello Auction</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a class="text-muted" href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- JavaScript files-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Main File-->
    <script src="../js/front.js"></script>
  </body>
</html>